

body{
    /* background-image: url("file:///Users/amanda/Downloads/markus-spiske-qjnAnF0jIGk-unsplash.jpg"); */
    background-color: rgb(115, 115, 115);
    background-repeat:no-repeat;
    background-size:cover;
}
h1{
    font-family: sans-serif;
    color: gray;
}
h2{
    font-family: sans-serif;
    color: gray;
}
h3{
    font-family: sans-serif;
    color: gray;
}
p {
    font-family: sans-serif;
    color: darkgray;
}
.main-nav{
    font-family: sans-serif;
    color: gray;
}

.profile-box{
    box-align: center;
    background-color: white;
    padding: 30px;
    margin: 15%;
    margin-top: 75px;
    border-radius: 10px;
    display: grid; 
    grid-template-columns: 50% 50%;
}
.profile-pic {
    align-content: center;
    border-radius: 10px;
    grid-column-start: 1;
    grid-column-end: 1;
}
.profile-name {
    grid-column-start: 2;
    grid-column-end: 2;
}

.about {
    margin: 2%;
    padding: 5%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

.profile-nav-bar {
    /* font-family: sans-serif;
    color: goldenrod; */
    background-color: white;
    padding: 1%;
    padding-left: 50px;
    margin: 2%;
    border-radius: 10px;
}

.logo {
    padding-top: 50px;
    padding-bottom: 50px;
}

.nav-bar {
    font-family: sans-serif;
    color: goldenrod;
    background-color: white;
    padding: 1%;
    padding-left: 50px;
    margin: 2%;
    border-radius: 10px;
    display: grid; 
    grid-template-columns: 45% 12% 12% 12% 12%;
}

.Name {
    grid-column-start: 1;
    grid-column-end: 1;
    align-items: center;
}
.Home {
    grid-column-start: 2;
    grid-column-end: 2;
    align-items: center;
}
.About {
    grid-column-start: 3;
    grid-column-end: 3;
    align-items: stretch;
}
.Projects {
    grid-column-start: 4;
    grid-column-end: 4;
    align-items: stretch;
}
.Resume {
    grid-column-start: 5;
    grid-column-end: 5;
    align-items: stretch;
}

.pdf {
    margin: 2%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding-top: 1.5%;
    padding-left: 1%;
    padding-right: 1%;
}

h4 {
    font-family: sans-serif;
    color: goldenrod;
}

.project-box {
    font-family: sans-serif;
    color: goldenrod;
    text-align: center;
    background-color: white;
    padding: 1%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 2%;
    border-radius: 10px;
    display: grid; 
}

.project-boxes {
    font-family: sans-serif;
    color: goldenrod;
    background-color: white;
    padding: 1%;
    padding-left: 50px;
    padding-right: 50px;
    margin: 2%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 50%, 50%;
    grid-template-rows: 50%, 50%;
}

.critter-sitter {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.gunsmith {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}