
.{
    font-family: sans-serif;
}

body{
    background-image: url("file:///Users/amanda/Downloads/markus-spiske-qjnAnF0jIGk-unsplash.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
h2{
    font-family: sans-serif;
    color: goldenrod;
}
h3{
    font-family: sans-serif;
    color: goldenrod;
}
.main-nav{
    font-family: sans-serif;
    color: goldenrod;
}

.profile-box{
    /* box-align: center; */
    background-color: white;
    padding: 30px;
    margin: 15%;
    margin-top: 75px;
}